# Enter your WiFi details here for the Pico to connect with.
ssid = "SSID of primary wifi"
password = "wifi password"

# Enter your secondary WiFi details here for the Pico to connect with.
ssid2 = "SSID of secondary wifi"
password2 = "wifi password"
